<form action="/api/productos" method="POST" class=".form-horizontal">
    <span>Title:</span> <input type="text" name="title" id="title">
    <span>Price:</span> <input type="number" name="price" id="price">
    <span>Image:</span> <input type="text" name="thumbnail" id="thumbnail">
    <button>SEND</button>
</form>